@function font-weight($keyword) {
  $conversion-map: (
    thin: 100,
    normal: 400,
    medium: 500,
    bold: 700,
    black: 900,
  );

  @return map-get($conversion-map, $keyword);
}

@mixin font-weight($keyword) {
  font-weight: font-weight($keyword);
}
