.shadow-z1 {
  box-shadow: 1px 1px 4px 0px $color-black;
}
.shadow-z1-light {
  box-shadow: 0px 0px 5px 0px $color-white;
}

.border-white {
  border: 1px solid $color-white;
  border-radius: 3px;
}

.font-weight {
  font-weight: 600;
}

