/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';
@import './assets/styles-api.scss';


html,
body {
  margin: 0;
  height: 100%;
  background-color: $color-primary;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-white;
  font-family: Comfortaa, sans-serif;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
