<div class="container-chart">
  <div class="container-chart-label">
    <mat-card>{{earthquakeDataLabel}}</mat-card>
  </div>
  <div class="container-chart-graphic">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="lineChartColors">
    </canvas>
  </div>
</div>
