@import '../assets/styles-api.scss';

.app-container {
  height: 100%;
  overflow-y: scroll;
  &-msg {
    width: 100%;
    padding-left: 25%;
    padding-top: 14px;
  }
  &-header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    &-label {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  &-router-container {
    padding: 16px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .hidden-sticky-bar {
    display: none;
  }
}
