<div class="app-container" (scroll)="onRouterContainerScroll($event)">
  <div class="app-container-header" [class.sticky]="sticky" [class.hidden-sticky-bar]="hiddenStickyBar">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let navigationLink of navigationLinks" [routerLink]="navigationLink.route"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        <mat-icon aria-hidden="false" aria-label="icon">{{navigationLink.icon}}</mat-icon>
        <span class="app-container-header-label">{{navigationLink.label}}</span>
      </a>
      <div class="app-container-msg border-white">
        <p [innerHTML]="welcome"></p>
      </div>
    </nav>
  </div>
  <div class="app-container-router-container">
    <router-outlet></router-outlet>
  </div>
</div>
